{% extends "basic.html" %}

{% block conteudo %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/cadastro01.jpg')}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Cadastro Autor</h1>
              <span class="subheading">Os melhores estão aqui!</span>
            </div>
          </div>
        </div>
      </div>
</header>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <form action="{{url_for('paginapadrao_forms')}}" method="post">
                {{form.hidden_tag()}}

                <label for="name">{{form.name.label}}</label>
                {{form.name(class="form-control", placeholder="Nome*")}}<br/>
                <label for="email">{{form.email.label}}</label>
                {{form.email(class="form-control", placeholder="E-mail*")}}<br/>
                <label for="website">{{form.website.label}}</label>
                {{form.website(class="form-control", placeholder="Website*")}}<br/>
                <label for="photo">{{form.photo.label}}</label>
                {{form.photo(class="form-control", placeholder="Link da Foto*")}}<br/>
                <label for="bio">{{form.bio.label}}</label>
                {{form.bio(class="form-control", placeholder="Biografia*")}}<br/>
                <input type="submit" name="botao" value="enviar">
            </form>
        </div>
      </div>
</div>

{% endblock %}