{% extends "basic.html" %}

{% block conteudo %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/lista_author.jpeg')}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Lista Autor</h1>
              <span class="subheading">Os melhores estão aqui!</span>
            </div>
          </div>
        </div>
      </div>
</header>




               <table align="center" width="700" border="1px" bgcolor="#CCC">
                  <tr>
                    <td width="300" align="center" >Nome</td>
                    <td width="150" align="center">E-mail</td>
                    <td width="150" align="center">Website</td>
                    <td width="200" align="center">Biografia</td>
                  </tr>
                  {% for aut in author %}
                  <tr>
                    <td height="40" align="justify"> {{aut.name}} </td>
                    <td align="center">{{aut.email}}</td>
                    <td align="center">{{aut.website}}</td>
                    <td align="center">{{aut.bio}}</td>
                  </tr>
                  {% endfor %}
                </table>


{% endblock %}